{% extends "base.html" %}

{% block content %}
		<div>
			<h4><a href="{% url simulations %}">Back to all runs</a></h4>
			<h5><a href="{{sim_run.get_next_by_created_at.get_absolute_url}}">Next</a></h5>
			<h5><a href="{{sim_run.get_previous_by_created_at.get_absolute_url}}">Previous</a></h5>
			<ul>
				<li>Final Size: {{sim_run.final_size}}</li>
				<li>Beta: {{sim_run.beta}}</li>
				<li>Gamma: {{sim_run.gamma}}</li>
				<li>Individuals Infected Initially ({{sim_run.initial_number_infected}})
					<ul>
					{% for init_infected in sim_run.initialinfected_set.all %}
						<li>{{init_infected.individual_infected.ind_uuid}}</li>
					{% endfor %}
					</ul>
				</li>
			</ul>
			<img src="/media/{{graph}}"/>
		</div>
{% endblock %}