{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
a:active, a:link, a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
</style>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
	  google.load("visualization", "1", {packages:["corechart"]});
	  google.setOnLoadCallback(drawChart);
	  function drawChart() {
		var data = new google.visualization.DataTable();
		{{visualization_data|safe}}
		var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
		chart.draw(data, {width: 600, height: 540, title: 'Simulation'});
	  }
	</script>

{% endblock %}


{% block content %} 
		<div>
			<h4><a href="{% url simulations %}">Back to all runs</a></h4>
			<ul>
				<li>Beta: {{sim_run.beta}}</li>
				<li>Gamma: {{sim_run.gamma}}</li>
				<li>Individuals Infected Initially
					<ul>
					{% for init_infected in sim_run.initialinfected_set.all %}
						<li>{{init_infected.individual_infected.ind_uuid}}</li>
					{% endfor %}
					</ul>
				</li>
			</ul>
			<div id='chart_div' style='width: 630px; height: 540px;'></div>
		</div>
{% endblock %}